#note-text {
  height: 40px;
}

.form-label {
  font-size: larger;
  padding-top: 10px;
  margin-left: 5px;
  
}

.page-tittle {
  font-size: 27px;
  padding: 14px;
  margin-left: 10px;
}


#sku-note {
  height: 50px;
}