{% extends 'retailbd/master.html' %}
{% block content %}
<h1>New Purchase</h1>
<form action="new_order/" method="post">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <label for="fsku"> sku1</label>
        <input type="text" name="fsku">
        <label for="fsku"> sku1 QTY</label>
        <input type="number" name="fqty">
        <br>
        <br>
        <label for="fsku"> sku1</label>
        <input type="text" name="fsku">
        <label for="fsku"> sku1 QTY</label>
        <input type="number" name="fqty">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}