{% extends 'retailbd/master.html' %}
{% block content %}
<h1>New Purchase</h1>
<form action="new_order/" method="post">
        {% csrf_token %}
        <!-- {{form.as_p}} -->


        <select name="sku" id="sku_list" class="form-control">
            <option value="1" disabled selected >Select SKU</option>
        </select>
        <br>

        <input type="number" disabled class="form-control" id="price">
<br>
        <input type="number" class="form-control">
<br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}